@charset "UTF-8";

@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url("../fonts/DMSans-Bold.woff2") format("woff2"), url("../fonts/DMSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url("../fonts/DMSans-BoldItalic.woff2") format("woff2"), url("../fonts/DMSans-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url("../fonts/DMSans-Italic.woff2") format("woff2"), url("../fonts/DMSans-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url("../fonts/DMSans-Medium.woff2") format("woff2"), url("../fonts/DMSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Epilogue;
  font-display: swap;
  src: url("../fonts/Epilogue-BoldItalic.woff2") format("woff2"), url("../fonts/Epilogue-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Epilogue;
  font-display: swap;
  src: url("../fonts/Epilogue-Bold.woff2") format("woff2"), url("../fonts/Epilogue-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url("../fonts/DMSans-Regular.woff2") format("woff2"), url("../fonts/DMSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Epilogue;
  font-display: swap;
  src: url("../fonts/Epilogue-Light.woff2") format("woff2"), url("../fonts/Epilogue-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Epilogue;
  font-display: swap;
  src: url("../fonts/Epilogue-ExtraBold.woff2") format("woff2"), url("../fonts/Epilogue-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Epilogue;
  font-display: swap;
  src: url("../fonts/Epilogue-Italic.woff2") format("woff2"), url("../fonts/Epilogue-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Epilogue;
  font-display: swap;
  src: url("../fonts/Epilogue-Medium.woff2") format("woff2"), url("../fonts/Epilogue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Epilogue;
  font-display: swap;
  src: url("../fonts/Epilogue-SemiBold.woff2") format("woff2"), url("../fonts/Epilogue-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Epilogue;
  font-display: swap;
  src: url("../fonts/Epilogue-ThinItalic.woff2") format("woff2"), url("../fonts/Epilogue-ThinItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Epilogue;
  font-display: swap;
  src: url("../fonts/Epilogue-Regular.woff2") format("woff2"), url("../fonts/Epilogue-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #ffffff;
  line-height: 1;
  font-family: "Epilogue";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Epilogue";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 71.6875rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.25rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  text-align: center;
  position: relative;
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #000000;
  padding: 6.25rem 6.25rem;
  width: 100%;
  max-width: 1149px;
}

.popup__content_padding {
  padding: 0;
  z-index: 0;
}

.lock .popup__content {
  visibility: visible;
}

.popup__content_white {
  background-color: #ffffff;
  max-height: 90vh;
  padding: 4.375rem 0.875rem 3.0625rem 6rem;
}

.popup__close {
  position: absolute;
  z-index: 1;
  top: 1.25rem;
  right: 1.25rem;
  width: 1.875rem;
  height: 1.875rem;
  outline: none;
}

.popup__close_video {
  top: 1.25rem;
  right: 1.25rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
}

.popup__close svg {
  width: 100%;
  height: 100%;
}

.popup__video {
  width: 100%;
  height: auto;
}

.popup__logo {
  position: absolute;
  top: 1.5rem;
  left: 2.25rem;
  max-width: 14rem;
  max-height: 2.310625rem;
}

.popup__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.popup__text_policy {
  height: 100%;
}

.popup__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 101%;
  color: #0275df;
  margin-bottom: 1.875rem;
}

.popup__title_white {
  color: #ffffff;
}

.popup__title_white_small {
  font-size: 1.75rem;
}

.popup__title_policy {
  font-size: 4.25rem;
  text-align: left;
}

.popup__title_big {
  font-size: 3.625rem;
  margin-bottom: 3.125rem;
}

.popup__subtitle {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 2.1875rem;
  opacity: 0.73;
}

.popup__descr {
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 2.1875rem;
}

.popup__descr a:hover {
  text-decoration: underline;
}

.popup__descr_small {
  font-size: 1.25rem;
}

.popup__policy-text {
  text-align: left;
  height: 50vh;
  overflow-y: auto;
  padding-right: 4.8125rem;
  scrollbar-color: #0275df rgba(20, 22, 32, 0.1);
  scrollbar-width: thin;
}

.popup__policy-text::-webkit-scrollbar {
  width: 0.4375rem;
  background: rgba(20, 22, 32, 0.1);
}

.popup__policy-text::-webkit-scrollbar-thumb {
  background-color: #0275df;
  width: 0.5625rem;
}

.popup__policy-descr {
  display: block;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 168.5%;
  color: #21242f;
  margin-bottom: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625rem;
}

.popup__policy-title {
  display: block;
  margin-bottom: 0.625rem;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2.1875rem;
  text-transform: capitalize;
  color: #21242f;
}

.popup__form .form__checkboxes {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 3.75rem;
     -moz-column-gap: 3.75rem;
          column-gap: 3.75rem;
  row-gap: 1.875rem;
}

.popup__form .form__checkbox {
  max-width: none;
}

#popup__quote .popup__content {
  padding: 6.5625rem 8.5rem 3.75rem 8.5rem;
}

#popup-title-2,
#popup-title-3,
#popup-title-4 {
  display: none;
}

#popup-form-2,
#popup-form-3,
#popup-form-4 {
  display: none;
}

#popup-title-4 {
  margin-left: -6.25rem;
  margin-right: -6.25rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  padding: 2.5rem 0 2.1875rem 0;
}

.header__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -ms-grid-column-align: center;
      justify-self: center;
}

.header__contact {
  justify-self: flex-end;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

@supports (width: clamp( 9.375rem , 5.7071799308rem  +  18.339100346vw , 19.3125rem )) {
  .logo {
    width: clamp( 9.375rem , 5.7071799308rem  +  18.339100346vw , 19.3125rem );
  }
}

@supports not (width: clamp( 9.375rem , 5.7071799308rem  +  18.339100346vw , 19.3125rem )) {
  .logo {
    width: calc(9.375rem + 9.9375 * (100vw - 20rem) / 54.1875);
  }
}

@supports (height: clamp( 1.5625rem , 0.9627306805rem  +  2.9988465975vw , 3.1875rem )) {
  .logo {
    height: clamp( 1.5625rem , 0.9627306805rem  +  2.9988465975vw , 3.1875rem );
  }
}

@supports not (height: clamp( 1.5625rem , 0.9627306805rem  +  2.9988465975vw , 3.1875rem )) {
  .logo {
    height: calc(1.5625rem + 1.625 * (100vw - 20rem) / 54.1875);
  }
}

.logo a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.spoller-menu__wrapper {
  position: relative;
}

.spoller-menu__body {
  position: absolute;
  z-index: 4;
  top: 1.875rem;
  left: 0;
  min-width: 15.625rem;
  padding: 1.25rem 1.125rem;
  background: #000000;
}

.spoller-menu__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.1875rem;
  text-transform: capitalize;
}

.spoller-menu__title {
  margin-right: 0.625rem;
  position: relative;
}

.spoller-menu__plus {
  position: absolute;
  top: 50%;
  right: -1.4375rem;
  display: inline-block;
  width: 0.8125rem;
  height: 0.0625rem;
  background: #ffffff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.spoller-menu__plus::after {
  content: "";
  width: 0.0625rem;
  height: 0.8125rem;
  background: #ffffff;
  position: absolute;
  top: -6px;
  right: 0.375rem;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

._spoller-active {
  color: #0275df;
}

._spoller-active .spoller-menu__plus {
  background: #0275df;
}

._spoller-active .spoller-menu__plus::after {
  background: #0275df;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.contact__btn {
  width: 9.6875rem;
  height: 2.6875rem;
}

.icon-menu {
  display: none;
}

.footer {
  position: relative;
  padding-top: 3.4375rem;
  padding-bottom: 1.875rem;
}

.footer__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
  grid-template-columns: repeat(4, auto);
  -webkit-column-gap: 5.75rem;
     -moz-column-gap: 5.75rem;
          column-gap: 5.75rem;
}

.footer__logo img {
  height: 5.375rem;
  width: 9.5625rem;
}

.footer__scroll-to-top {
  cursor: pointer;
  position: absolute;
  bottom: 9.5625rem;
  right: 0;
  font-weight: 500;
  font-size: 0.625rem;
  line-height: 101%;
  color: #ffffff;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.footer__scroll-to-top::after {
  content: "";
  position: absolute;
  bottom: 0.3125rem;
  left: -3.875rem;
  width: 2.75rem;
  height: 0.125rem;
  background: #0275df;
}

.footer__scroll-to-top::before {
  content: "";
  width: 0.25rem;
  height: 0.125rem;
  position: absolute;
  z-index: 10;
  bottom: 0.3125rem;
  right: 4.8125rem;
  background: #ffffff;
}

.footer__subscribe {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 4.4375rem;
     -moz-column-gap: 4.4375rem;
          column-gap: 4.4375rem;
}

.footer__policy {
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 101%;
  cursor: pointer;
  margin-top: 1.875rem;
}

.footer__policy:hover {
  text-decoration: underline;
}

.address {
  font-weight: 400;
  font-size: 1rem;
  line-height: 130%;
}

.address__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0.9375rem;
}

.address__icon svg {
  width: 1.875rem;
  height: 1.875rem;
}

.address__icon span {
  margin-top: 0.9375rem;
}

.address__column {
  margin-bottom: 1.875rem;
}

.address__email:hover {
  text-decoration: underline;
}

.menu-footer__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 101%;
  margin-bottom: 1.25rem;
}

.menu-footer__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.9375rem;
  text-transform: capitalize;
}

.menu-footer__li {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 101%;
  cursor: pointer;
}

.menu-footer__li:hover {
  text-decoration: underline;
}

.social-footer__title {
  margin-bottom: 0.9375rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 101%;
}

.social-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.9375rem;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.social-footer__icon {
  width: 2.5rem;
  height: 2.5rem;
}

.subscribe {
  margin-top: 2.5rem;
  width: 100%;
}

.subscribe__title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1rem;
  line-height: 101%;
  margin-bottom: 2.125rem;
}

.form-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-column-gap: 2.75rem;
     -moz-column-gap: 2.75rem;
          column-gap: 2.75rem;
}

.form-sub__email {
  width: 25.1875rem;
  height: 1.8125rem;
  border-bottom: 2px solid #ffffff;
  background-color: #131620;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 101%;
  outline: none;
  color: #ffffff;
  padding-bottom: 0.75rem;
}

.form-sub__email::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.4;
}

.form-sub__email::-moz-placeholder {
  color: #ffffff;
  opacity: 0.4;
}

.form-sub__wrapper {
  width: 12.1875rem;
  height: 2.5625rem;
}

body {
  background-color: #131620;
}

.page__services-section_pt {
  padding-top: 6.25rem;
}

.breadcrumbs__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs__total,
.breadcrumbs__services {
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 120%;
}

.breadcrumbs__arrow {
  width: 0.3125rem;
  height: 0.9375rem;
}

.breadcrumbs__arrow svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.main__gif video {
  max-width: 100%;
}

.main__title {
  font-weight: 800;
  line-height: 113%;
}

@supports (font-size: clamp( 3rem , 2.2156862745rem  +  3.9215686275vw , 5.125rem )) {
  .main__title {
    font-size: clamp( 3rem , 2.2156862745rem  +  3.9215686275vw , 5.125rem );
  }
}

@supports not (font-size: clamp( 3rem , 2.2156862745rem  +  3.9215686275vw , 5.125rem )) {
  .main__title {
    font-size: calc(3rem + 2.125 * (100vw - 20rem) / 54.1875);
  }
}

.main__title span {
  display: block;
  background: -o-linear-gradient(180.68deg, #22b9e0 2.15%, rgba(34, 185, 224, 0) 76.15%), #0275df;
  background: linear-gradient(269.32deg, #22b9e0 2.15%, rgba(34, 185, 224, 0) 76.15%), #0275df;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.main__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.25rem;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 2.1875rem;
  margin-bottom: 3.75rem;
}

.main__btn {
  width: 19.5625rem;
  height: 4rem;
}

.main__title {
  margin-bottom: 2.5rem;
}

.about-us {
  padding-bottom: 6.5625rem;
}

.about-us__title {
  padding-top: 3.125rem;
  margin-bottom: 3.75rem;
}

.about-us__subtitle {
  margin-bottom: 1.875rem;
}

.about-us__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.25rem;
}

.about-us__play {
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  margin-bottom: 1.25rem;
}

.about-us__play img {
  width: 9.375rem;
  height: 9.375rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.about-bb,
.about-smm {
  margin-top: 6.25rem;
}

.about-bb__subtitle,
.about-smm__subtitle {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 132.5%;
}

.about-bb__text,
.about-smm__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.25rem;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 2.1875rem;
}

.about-bb__gif img,
.about-smm__gif img {
  width: 100%;
  height: 100%;
}

.about-bb__more,
.about-smm__more {
  margin-top: 1.875rem;
}

.about-bb {
  margin-bottom: 9.375rem;
}

.services {
  padding-bottom: 7.5rem;
}

.services__title {
  margin-bottom: 3.75rem;
  text-transform: capitalize;
}

.services__title_no-cap {
  text-transform: none;
}

.services__grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(22.625rem, 1fr));
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 3.125rem;
}

.logos {
  position: relative;
  z-index: 2;
  padding-bottom: 5rem;
}

.logos__title {
  margin-bottom: 5.625rem;
}

.logos__container {
  position: relative;
}

.logos__slider {
  margin-bottom: 4.25rem;
  position: relative;
}

.logos__swiper {
  position: relative;
}

.logos__next,
.logos__prev {
  cursor: pointer;
  width: 1.625rem;
  height: 1.625rem;
  --slider-arrow: #ffffff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.logos__next svg,
.logos__prev svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.logos__next {
  right: 0;
}

.logos__slide {
  height: 7.5rem;
  width: 20%;
}

.logos__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.logos__slider {
  width: 90%;
  margin: 0 auto;
}

.logos__pagination {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-column-gap: 0.5625rem;
     -moz-column-gap: 0.5625rem;
          column-gap: 0.5625rem;
  bottom: -3.75rem;
}

.logos .swiper-pagination-bullet {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: rgba(212, 214, 221, 0.5);
  display: inline-block;
  cursor: pointer;
}

.logos .swiper-pagination-bullet-active {
  background: #0275df;
}

.wave video {
  width: 100%;
  height: auto;
}

.about-user {
  padding-bottom: 6.5rem;
}

.about-user__title {
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 101%;
  margin-bottom: 2.5rem;
}

.about-user__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.375rem;
}

.about-user__li svg {
  width: 1.26375rem;
  height: 0.875rem;
  margin-right: 0.625rem;
}

.about-user__li span {
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
}

.about-user__gif {
  width: 100%;
  height: auto;
  margin-left: -1.25rem;
}

.about-user__gif video {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.news-logos {
  padding-bottom: 5rem;
}

.news-logos__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 4.375rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 3.75rem;
     -moz-column-gap: 3.75rem;
          column-gap: 3.75rem;
}

.news-logos__wrapper img {
  max-height: 2.8125rem;
  width: auto;
}

.portfolio {
  padding-top: 3.4375rem;
}

.portfolio__title {
  font-weight: 800;
  font-size: 5.125rem;
  line-height: 113%;
  margin-bottom: 3.125rem;
}

.portfolio__title span {
  background: -o-linear-gradient(180.68deg, #22b9e0 2.15%, rgba(34, 185, 224, 0) 76.15%), #0275df;
  background: linear-gradient(269.32deg, #22b9e0 2.15%, rgba(34, 185, 224, 0) 76.15%), #0275df;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.portfolio__gif {
  display: none;
}

.portfolio__subtitle {
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 2.1875rem;
  margin-bottom: 2.8125rem;
}

.portfolio__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 4.375rem;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  padding-bottom: 8rem;
}

.portfolio__item {
  width: 11.25rem;
  height: 7.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__item img {
  height: 70%;
  width: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}

.rewiew-portfolio {
  padding-bottom: 41.6666666667%;
}

.rewiew-portfolio__slider {
  display: none;
}

.rewiew-portfolio__slide {
  height: 100%;
  padding-left: 2.6875rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.875rem;
}

.rewiew-portfolio__slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.25rem;
  height: 100%;
  background-color: #ffffff;
}

.rewiew-portfolio__wrapper {
  margin-bottom: 3.125rem;
}

.rewiew-portfolio__logo {
  width: auto;
  height: 3.75rem;
}

.rewiew-portfolio__logo img {
  height: 100%;
  width: auto;
}

.rewiew-portfolio__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.9375rem;
}

.rewiew-portfolio__footer {
  font-style: italic;
  font-weight: 700;
  font-size: 1rem;
  line-height: 140%;
  opacity: 0.5;
}

.rewiew-portfolio__post {
  font-weight: 400;
}

.rewiew-portfolio__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rewiew-portfolio__prev,
.rewiew-portfolio__next {
  cursor: pointer;
  width: 1.625rem;
  height: 1.625rem;
  --slider-arrow: #ffffff;
}

.rewiew-portfolio__prev svg,
.rewiew-portfolio__next svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.rewiew-portfolio .swiper-button-disabled {
  --slider-arrow: #565656;
}

.link {
  font-weight: 600;
  font-size: 1rem;
  line-height: 120%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.btn button {
  width: 100%;
  height: 100%;
  background: #0275df;
  border: 0.0625rem solid #0275df;
  font-weight: 500;
  font-size: 1rem;
  line-height: 120%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  --svg-blue: #ffffff;
}

.btn button svg {
  width: 1.875rem;
  height: 1.875rem;
}

.btn_large {
  font-size: 1.25rem;
}

.btn_large button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-title {
  font-weight: 500;
  font-size: 4.25rem;
  line-height: 101%;
}

.section-title_center {
  font-weight: 500;
  font-size: 2.75rem;
  line-height: 101%;
  text-align: center;
}

.section-title_dot span {
  position: relative;
}

.section-title_dot span::after {
  content: "";
  position: absolute;
  width: 0.6875rem;
  height: 0.6875rem;
  left: 0.1875rem;
  top: 0;
  border-radius: 50%;
  background: #0275df;
}

.section-subtitle {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.1875rem;
}

.section-body {
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 2.1875rem;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #131620;
}

.card__wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.card__icon {
  width: 5rem;
  height: 5rem;
  margin: 0 auto 1.875rem auto;
}

.card__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.card__title {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 2.1875rem;
  text-transform: capitalize;
  text-align: center;
  color: #ffffff;
  margin-bottom: 2.125rem;
}

.card__btn {
  height: 4rem;
}

.card_white {
  background: #ffffff;
  padding: 2rem 1.3125rem;
}

.card_white .card__wrapper {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.card_white .card__title {
  margin-top: 1.25rem;
  margin-bottom: 0.625rem;
  color: #21242f;
}

.card_white .card__body {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 140%;
  text-align: center;
  color: #21242f;
}

.form {
  background: #000000;
  width: 100%;
  padding: 3.125rem 3.25rem 4.75rem 3.5rem;
  text-transform: capitalize;
}

.form_popup {
  padding: 0 !important;
}

.form__title {
  font-weight: 500;
  font-size: 2.75rem;
  line-height: 101%;
  margin-bottom: 1.875rem;
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2.5rem;
  width: 100%;
  margin-bottom: 3.125rem;
}

.form__subtitle {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 101%;
  margin-bottom: 1.875rem;
}

.form__services {
  margin-bottom: 3.125rem;
}

.form__checkboxes {
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.5625rem;
     -moz-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
  row-gap: 1.6875rem;
}

.form__checkbox {
  max-width: 8.5rem;
}

.form__checkbox label {
  font-weight: 400;
  font-size: 1rem;
  line-height: 130%;
  cursor: pointer;
}

.form__submit {
  margin-top: 3.125rem;
}

.form__submit_popup {
  margin-top: 1.25rem;
  margin-bottom: 0rem !important;
  width: 11.1875rem !important;
  height: 3.625rem !important;
}

.form__submit_popup_large {
  width: 22.6875rem !important;
}

.form__policy {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 116%;
  opacity: 0.4;
}

.form__policy span {
  text-decoration: underline;
  cursor: pointer;
}

.form__label_popup input {
  max-width: 47.125rem;
  height: 2.75rem;
  margin-top: 3.625rem;
  margin-bottom: 6.25rem;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 2.1875rem;
}

.form__label_popup input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.48;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 2.1875rem;
}

.form__label_popup input::-moz-placeholder {
  color: #ffffff;
  opacity: 0.48;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 2.1875rem;
}

.form__label_popup_mb input {
  margin-top: 0rem;
  margin-bottom: 1.875rem;
}

.js-validate-error-label,
.form__error {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 101%;
  mix-blend-mode: normal;
}

.form__error {
  display: none;
  border-top: 1px solid #9b2424 !important;
  margin-top: 0.3125rem;
  padding-top: 0.3125rem;
}

.form__error_popup {
  margin-top: 0.9375rem;
  padding-top: 0.625rem;
}

.js-validate-error-field {
  border: none !important;
  border-bottom: 1px solid #9b2424 !important;
  margin-bottom: 0.125rem;
}

.input {
  width: 100%;
  height: 1.4375rem;
  border-bottom: 1px solid #393939;
  background-color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 101%;
  color: #ffffff;
  outline: none;
  padding-bottom: 0.4375rem;
}

.input::-webkit-input-placeholder {
  color: #ffffff;
  text-transform: capitalize;
}

.input::-moz-placeholder {
  text-transform: capitalize;
  opacity: 1;
  color: #ffffff;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: -1.125rem;
  margin-right: 0.625rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.checkbox_popup + label::before {
  margin-top: 0rem;
  margin-right: 0.625rem;
}

.checkbox:checked + label::before {
  border-color: #0275df;
  background-color: #0275df;
  background-image: url("data:image/svg+xml,%3Csvg width=%2722%27 height=%2717%27 viewBox=%270 0 22 17%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M1 6.6L9.27273 15L21.2222 1%27 stroke=%27white%27 stroke-width=%272%27/%3E%3C/svg%3E%0A");
}

.submit {
  padding: 0.75rem 0;
  width: 100%;
  height: 2.875rem;
  background: #0275df;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 120%;
  color: #ffffff;
  border: 0.0625rem solid #0275df;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin-bottom: 1.5625rem;
}

.submit #desktop {
  display: block;
}

.submit #mobile {
  display: none;
}

.more__icon svg {
  width: 0.833125rem;
  height: 0.833125rem;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.more__icon::before {
  content: "More";
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 120%;
  color: #0275df;
  margin-right: 1.25rem;
}

.more__icon_opened {
  margin-top: 1.875rem;
}

.more__icon_opened svg {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.more__icon_opened::before {
  content: "Less";
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .main {
    padding-top: 4.125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    overflow: hidden;
  }

  .main__content {
    -webkit-transform: translateX(35%);
        -ms-transform: translateX(35%);
            transform: translateX(35%);
  }

  .main__title {
    text-transform: capitalize;
  }

  .main__gif {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
  }

  .main__gif_pl {
    padding-left: 10%;
  }

  .main__body {
    width: 69%;
  }

  .main__body_large {
    width: 83%;
  }

  .main__descr {
    width: 83%;
  }

  .main__descr_small {
    width: 71%;
  }

  .about-us__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about-us__wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
  }

  .about-us__play:hover img {
    width: 8.9375rem;
    height: 8.9375rem;
  }

  .card_white:hover {
    padding: 1.875rem 1rem;
  }

  .card_white:hover .card__icon {
    width: 5.1875rem;
    height: 5.1875rem;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .card_white:hover .card__title {
    font-size: 1.40625rem;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .card_white:hover .card__body {
    font-size: 1.28125rem;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .more {
    display: none;
  }
}

@media (min-width: 61.9375em) {
  .spoller-menu__title:hover .spoller-menu__plus {
    background: #0275df;
  }

  .spoller-menu__title:hover .spoller-menu__plus::after {
    background: #0275df;
  }

  .about-bb__subtitle,
  .about-smm__subtitle {
    margin-bottom: 6.25rem;
  }

  .about-bb__wrapper,
  .about-smm__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .about-bb__text,
  .about-smm__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
  }

  .about-bb__gif,
  .about-smm__gif {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
    width: 100%;
    height: auto;
  }

  .about-smm {
    padding-bottom: 6.25rem;
  }

  .about-smm__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .about-smm__subtitle {
    margin-bottom: 0rem;
  }

  .about-smm__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
  }

  .about-smm__gif {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(30% - 2.5rem);
            flex: 0 1 calc(30% - 2.5rem);
    width: 100%;
    height: auto;
  }

  .services__title .about-us__title {
    padding-top: 6.25rem;
  }

  .about-user__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .about-user__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .about-user__left {
    padding-top: 5.5rem;
  }

  .link:hover {
    color: #0275df;
  }

  .btn button:hover {
    background: #ffffff;
    color: #0275df;
  }

  .btn button:hover svg {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    --svg-blue: #0275df;
  }

  .submit:hover {
    background: #ffffff;
    color: #0275df;
  }
}

@media (max-width: 1650px) {
  .about-us {
    margin-top: 6.25rem;
  }
}

@media (max-width: 1400px) {
  .about-bb,
  .about-smm {
    padding-top: 6.25rem;
    padding-bottom: 5rem;
  }
}

@media (max-width: 1247px) {
  .footer__wrapper {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }

  .form-sub__email {
    width: 15.625rem;
  }
}

@media (max-width: 794px) {
  .card__wrapper {
    position: static;
  }

  .card__title {
    margin-top: 4.8125rem;
  }
}

@media (max-width: 61.9375em) {
  .header {
    padding-top: 1.875rem;
  }

  .header__logo {
    -ms-grid-column-align: end;
        justify-self: end;
  }

  .header__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__body {
    z-index: 4;
    position: absolute;
    top: 0;
    left: -150%;
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .menu__list {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.875rem;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .spoller-menu__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1.875rem;
  }

  .spoller-menu__body {
    position: static;
    min-width: 100vw;
    padding: 0;
  }

  .spoller-menu__ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1.875rem;
  }

  .spoller-menu__title {
    margin: 0 auto;
  }

  .contact__link {
    -ms-grid-column-align: end;
        justify-self: end;
    font-size: 1rem !important;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 2.03125rem;
    height: 1.34375rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #ffffff;
    border-radius: 0.3125rem;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    width: 70%;
    left: 0;
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__wrapper {
    row-gap: 1.875rem;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }

  .footer__logo {
    margin-bottom: 3.125rem;
    text-align: center;
  }

  .footer__social {
    margin: 3.3125rem auto 0 auto;
  }

  .footer__scroll-to-top {
    display: none;
  }

  .footer__subscribe {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }

  .footer {
    padding-top: 0.4375rem;
  }

  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__policy {
    text-align: center;
    margin-top: 3.125rem;
  }

  .address {
    margin-bottom: 1.625rem;
  }

  .address__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .address__email {
    text-align: center;
  }

  .menu-footer {
    margin-bottom: 3.125rem;
  }

  .social-footer__title {
    text-align: center;
  }

  .form-sub {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1.25rem;
  }

  .form-sub__label,
  .form-sub__email,
  .form-sub__wrapper {
    width: 100% !important;
  }

  .about-bb__gif,
  .about-smm__gif {
    max-width: 25rem;
    margin: 0 auto;
  }

  .about-smm__gif {
    margin: 3.125rem auto 3.125rem auto;
  }

  .about-bb {
    margin-bottom: 0rem;
  }

  .logos__slide {
    height: 6.125rem;
  }

  .link {
    font-size: 1.375rem;
  }
}

@media (max-width: 47.99875em) {
  .popup__content {
    padding: 5rem 1.25rem;
  }

  .popup__content_padding {
    padding: 0rem;
  }

  .popup__content_left {
    text-align: left;
  }

  .popup__content_white {
    padding: 2.5rem 0.875rem 1.875rem 1.875rem;
    max-height: 70vh;
  }

  .popup__title {
    font-size: 2rem;
  }

  .popup__title_big {
    margin-bottom: 4.375rem;
  }

  .popup__title_mb30 {
    margin-bottom: 1.875rem !important;
  }

  .popup__title_white_small {
    font-size: 1.25rem;
  }

  .popup__descr {
    font-size: 1rem;
  }

  .popup__descr_small {
    padding-top: 2.5rem;
    font-size: 1rem;
    line-height: 140%;
  }

  .popup__policy-text {
    padding-right: 1.25rem;
    height: 30vh;
  }

  .popup__policy-descr {
    font-size: 1rem;
  }

  .popup__policy-title {
    font-size: 1rem;
  }

  #popup__quote .popup__content {
    padding: 6.5625rem 1.875rem 3.75rem 1.875rem;
  }

  #popup-title-4 {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .footer__logo {
    display: none;
  }

  .footer__menu {
    -webkit-column-gap: 3.1875rem;
       -moz-column-gap: 3.1875rem;
            column-gap: 3.1875rem;
  }

  .page__services-section_pt {
    padding-top: 1.25rem;
  }

  .breadcrumbs {
    display: none;
  }

  .main {
    padding-bottom: 3.75rem;
  }

  .main__gif {
    width: 19.5625rem;
    height: 19.5625rem;
    margin: 0 auto;
  }

  .main__gif_pl {
    position: relative;
    z-index: -1;
  }

  .main__gif_pl video {
    position: relative;
    z-index: -1;
  }

  .main__title {
    margin-bottom: 3.125rem;
    position: relative;
    z-index: 1;
  }

  .main__btn {
    width: 100%;
  }

  .main__descr {
    font-size: 1.125rem;
  }

  .about-us {
    padding-bottom: 8.0625rem;
    margin-top: 0rem;
  }

  .about-us__title {
    margin-bottom: 2.5rem;
  }

  .about-us__body {
    display: none;
  }

  .about-us__body_opened {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .about-us__body_opened .about-us__icon svg {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }

  .about-us__body_opened .about-us__icon::before {
    content: "Less";
  }

  .about-bb,
  .about-smm {
    margin-top: 0rem;
    padding-top: 1.25rem;
  }

  .about-bb__subtitle,
  .about-smm__subtitle {
    font-size: 1.75rem;
  }

  .about-bb__gif,
  .about-smm__gif {
    max-width: 25rem;
  }

  .about-bb__text,
  .about-smm__text {
    font-size: 1.125rem;
  }

  .about-bb__wrapper,
  .about-smm__wrapper {
    display: none;
  }

  .about-bb__wrapper_opened,
  .about-smm__wrapper_opened {
    display: block;
  }

  .services__title {
    margin-bottom: 2.5rem;
  }

  .services__grid {
    row-gap: 1.875rem;
  }

  .logos__title {
    margin-bottom: 2.5rem;
  }

  .logos__slider {
    margin-bottom: 2.5rem;
    width: 100%;
  }

  .logos__prev,
  .logos__next {
    display: none;
  }

  .logos__slide {
    height: 6.125rem;
    width: 50%;
  }

  .logos__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .logos__pagination {
    bottom: -3rem;
  }

  .wave {
    padding-top: 1.25rem;
  }

  .wave video {
    width: 300%;
  }

  .about-user {
    padding-top: 1.875rem;
    padding-bottom: 6.9375rem;
  }

  .about-user__title {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 101%;
  }

  .about-user__left {
    margin-bottom: 2.5rem;
  }

  .about-user__gif {
    display: none;
  }

  .news-logos {
    padding-bottom: 0rem;
  }

  .news-logos__wrapper {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
    row-gap: 3.125rem;
  }

  .news-logos__wrapper img {
    height: 1.875rem;
  }

  .portfolio__logos {
    row-gap: 3.125rem;
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .portfolio {
    padding-top: 0;
  }

  .portfolio__logos {
    padding-bottom: 5rem;
  }

  .portfolio__gif {
    display: block;
    margin: 0 auto;
    width: 19.5625rem;
    height: 19.5625rem;
  }

  .portfolio__gif video {
    width: 100%;
  }

  .portfolio__title {
    font-size: 3rem;
    margin-bottom: 2.5rem;
  }

  .portfolio__subtitle {
    font-size: 1.125rem;
    margin-bottom: 2.5rem;
  }

  .portfolio__wrapper {
    row-gap: 3.125rem;
  }

  .portfolio__item {
    width: 10rem;
    height: 5.625rem;
  }

  .rewiew-portfolio__slide {
    height: auto;
    padding-left: 0;
  }

  .rewiew-portfolio__slide::after {
    display: none;
  }

  .rewiew-portfolio__wrapper {
    margin-bottom: 5.1875rem;
  }

  .section-title {
    font-size: 2rem;
  }

  .section-title_center {
    font-size: 2rem;
  }

  .section-title_dot span::after {
    width: 0.4375rem;
    height: 0.4375rem;
    left: 0.03125rem;
    top: -0.0625rem;
  }

  .section-subtitle {
    font-size: 1.25rem;
  }

  .section-body {
    font-size: 1.125rem;
  }

  .form {
    padding: 3.125rem 1.25rem 2.4375rem 1.25rem;
  }

  .form__title {
    font-size: 2rem;
  }

  .form__wrapper {
    margin-bottom: 2.5rem;
  }

  .form__subtitle {
    line-height: 135%;
  }

  .form__services {
    margin-bottom: 2.5rem;
  }

  .form__checkboxes {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
    row-gap: 1.25rem;
  }

  .form__checkbox {
    max-width: none;
  }

  .form__checkbox label {
    font-size: 0.875rem;
  }

  .form__submit_popup {
    width: 100% !important;
  }

  .form__policy {
    font-size: 0.75rem;
  }

  .input {
    font-size: 0.875rem;
  }

  .checkbox + label::before {
    margin-top: 0rem;
  }

  .submit {
    margin-bottom: 2.25rem;
  }

  .submit #desktop {
    display: none;
  }

  .submit #mobile {
    display: block;
  }

  .card__icon {
    margin-bottom: 1.25rem;
  }

  .card__title {
    font-size: 1.125rem;
  }

  .card__body {
    font-size: 1rem;
  }

  .card__wrapper {
    position: static;
  }
}

@media (max-width: 29.99875em) {
  .portfolio__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }
}